extends baseEmail

block content
    p Hi #{firstName},
    p Your Reservation has Expired.
    p Follow the link below to get matched with a new therapist
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Get New Match
    
